<a href="https://colab.research.google.com/github/alikamran96/piaic_python/blob/master/FUNCTIONS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FUNCTION

In [1]:
print ("pak zinda")
print ("we are pakis")
print ("we love pak")

pak zinda
we are pakis
we love pak

In [3]:
 def abc():
   #body start indentation
   print ("pak zinda")
   print ("we are pakis")
   print ("we love pak") 
    
abc()
abc()

pak zinda
we are pakis
we love pak
pak zinda
we are pakis
we love pak

In [11]:

def id_card(sid, sname, fname, course, timing):
  print(
      f"""
      PIAIC Islamabad
      student id: {sid}
      student name: {sname}
      father NAme: {fname}
      Course: {course}
      Timing: {timing}
      """
  )
id_card("1", "Ali", "sd", "AI", "9 to 11")

      PIAIC Islamabad
      student id: 1
      student name: Ali
      father NAme: sd
      Course: AI
      Timing: 9 to 11

In [0]:
data = [1. a, AS, E ,f
        ]

In [12]:
def pl(x,y,z):
  print(x,y,z)
  print(x +y+z)
pl(5,6,7)

5 6 7
18

In [15]:
def pl(x,y=0,z=0):#y and z here are optionnal arguments
  print(x,y,z)
  print(x +y+z)
pl(5)
pl(5,7) 
pl(5,7,8)

5 0 0
5
5 7 0
12
5 7 8
20

In [20]:
#return function
def plus(r,s,t):
  return r+s+t
a=plus(5,6,8)
print(a)

19

In [21]:
#return function as variable h has some value and it is not none.
def id_card(sid, sname, fname, course, timing):
  return(
      f"""
      PIAIC Islamabad
      student id: {sid}
      student name: {sname}
      father NAme: {fname}
      Course: {course}
      Timing: {timing}
      """
  )
h=id_card("1", "Ali", "sd", "AI", "9 to 11")  
print(h)

      PIAIC Islamabad
      student id: 1
      student name: Ali
      father NAme: sd
      Course: AI
      Timing: 9 to 11

position argument

In [23]:
def id_card(sid, sname, fname, course, timing):
  print(
      f"""
      PIAIC Islamabad
      student id: {sid}
      student name: {sname}
      father NAme: {fname}
      Course: {course}
      Timing: {timing}
      """
  )
id_card(sname="Ali",sid="1" ,course="AI", timing="9 to 11", fname="sn")  

#keyword argument, with keyword argument you can enter out of order and still get result.

      PIAIC Islamabad
      student id: 1
      student name: Ali
      father NAme: sn
      Course: AI
      Timing: 9 to 11

In [0]:
l1=["1", "fgh", "xyz", "A.I", "5 to 7"]

In [25]:
def qwe(name, *number):
  print(name)
  print(number)
  print(sum(number))
qwe("qasim", 5,4,6,2)

qasim
(5, 4, 6, 2)
17

In [33]:
### RECURSIVE FUNCTION
def rty(n):
   if n == 1:
     return 1
   return n + rty(n-1)
rty(5)    
#recu

15

In [34]:
def my_range(n):
  for i in range(1, n+1):
    yield i
a=my_range(7) 
a=my_range(10)

print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
2
3
4

In [35]:
def abc(x,y):
  return x+y

abc(5,7)

12

In [37]:
abc = lambda x,y,z: x+y+z
abc(5,6,7)

18