<a href="https://colab.research.google.com/github/alikamran96/piaic_python/blob/master/oop%20part%201%20and%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Object Oriented Programming###
 
1. Inheritance

2. Polymorphism

3. Encapsulation

4. Abstraction

In [0]:
s1name = "An"
s1fname = "Af"
s1age = 20
def s1speaks(): pass
def s1listing(): pass
def e2ting(): pass

In [0]:
###oop###
class student(): #class
  pass           #class definition

s1 = student()   #instance/obj calling constructor
s2 = student()
s3 = student()

In [0]:
class student():               #class
  def __init__(self, sid, name):     #constructor
    self.sid = sid             #attributes/prpoerties/datamember/field
    self.name = name
    self.fname = ""
    self.age = 0

def login(self, user, password):
  self.name = user
  print("welcome", self.name)

def logout(self): pass  #method

def quiz_attempt(self):
  pass
s1 = student(1, "Ali")
s1.name

'Ali'

In [0]:
s1 = student(1, "Ali")
s1.name

'Ali'

##Class Variable##

In [0]:
class A():
  counter = 0  #class variable
  def __init__(self):
    
    self.id = A.counter + 1
    self.name = "" 
    self.fname =""
    
    A.counter += 1 #update class variable  
obj1= A()
obj1.id
obj1 = A()
obj2 = A()
obj3 = A()
 
#obj1.counter #calling class variable with obj ref
#A.counter   # calling class variable with class ref

4

In [0]:
print(obj1.id, obj2.id, obj3.id, sep = "\n")

2
3
4

In [0]:
class parent(self):
  def __init__(self):
    self.id = 0
    self.name = ""
    self.dob = 0
  
  def speak(self, words):
    print (words, "!")
  def eat(self, food):
    print("having", food)
  def listing(self):
    print("listing...")

class child(parent):
  pass
obj_p = parent()
obj_c = child()

In [0]:
class father():

###Polymorphism###

               # Overloading #

In [0]:
class abc():
  def plus(self, *n):
    print(sum(n))   

o1 = abc()
o1.plus(1,2)
o1.plus(2.3,2.5)
o1.plus(1,1.2,2.4)

3
4.8
4.6

### Encapsulation ###

In [12]:
class A():
  def __init__(self, name, age):
    self.__sname = name          #double dash makes it a private attribute.
    self.__age = age         

  def dis(self):
    print("Name",self.__sname)
    print("Age", self.__age)
  
  def change(self, a, b):
    self.__sname = a
    self.__age = b
  
  def info():

s1 = A("Ali", 20)
s1.dis()

Name Ali
Age 20

In [10]:
s1._A__sname  #IN python there is a trick way to access private attributes outside with class reference. In this format only ._A__sname

'Ali'

### Abstraction ###

In [23]:
class Employee():
  def __init__(self, name, age):
    self.name = name
    self.age = age

class dept_computers():
  def __init__(self, name, age, timing):
    self.name = name
    self.age = age
    self.timing = timing

class person_record(Employee, dept_computers):
  pass
  rec1 = Employee()

TypeError: ignored

### Exception Handling ###

try: 
  
  your code

except: (ErrClass1, ErrClass2....):
  execute code if error generated

else:
  execute code if not generated

finally:
  always run this block

In [25]:
print("line 1")
print("line 2")
print("line 3")
print("line 4")
try:
  print(7/0)
except ZeroDivisionError:
  print("Cant divide any value with zero")
print("line 6")
print("line 7")

line 1
line 2
line 3
line 4
Cant divide any value with zero
line 6
line 7

In [26]:
try:
  open("abc.txt")
except FileNotFoundError:
  print("File Not Available")

File Not Available

In [29]:
try:
  a=["a", "b", "c"]
  print(a[5])
except IndexError:
  print("not available in this index")

not available in this index

In [32]:
try:
  a = ["a", "b"]
  print(a[5])
except IndexError:
  print("Index out of range")

try:
  open("abc.txt")
except FileNotFoundError:
  print("File not Found")

try:
  print(7/0)
except ZeroDivisionError:
  print("Cant divide by zero")

Index out of range
File not Found
Cant divide by zero

In [33]:
try:
  7/0
except Exception as e: 
  print("problem", e)

problem division by zero

In [34]:
try:
  a=["a", "b"]
  print(a[7])
except Exception as e:
  print("problem",e)

problem list index out of range

In [48]:
class student():
  def __init__(self, name, age):
    if age < 18 or age > 60:
      raise StudentAgeError("age should be in range 18 to 60")
    self.name = name
    self.age = age
class StudentAgeError(Exception):
  pass
s1 = student(87, "Ali")

TypeError: ignored