# operands

In [2]:
input_num = 49
add_num = input_num + 33
print(input_num)

49

In [42]:
#m=input("enter first number")
#n=input("enter the numer to be substracted from first number")
#print(m-n)

AttributeError: 'str' object has no attribute 'input'

In [45]:
"hola" * 2

'holahola'

In [44]:
int("23") +int('45')

68

In [43]:
"7" + "9"

'79'

In [48]:
#a = 9 mod2 
a = 15 % 2
print(a)

1

In [46]:
16 / 5 * 9 - 6 ** 6 / 3 + 8 - 9 // 2

-15519.2

# string methods

In [15]:
name = "ali kamran"
print(name.title())

Ali Kamran

In [13]:
txtoutput = "Weather is amazing these days"
lwrcase_output = txtoutput.casefold()
print(lwrcase_output)

weather is amazing these days

In [21]:
name = "ali kamran"
print(name.split())

['ali', 'kamran']

In [16]:
name = "ali kamran"
print(name.upper())

ALI KAMRAN

In [11]:
first_string = "what's"
secnd_string = "going"
third_string = "on?"
print(first_string.capitalize()+" "+secnd_string.capitalize()+" "+third_string.capitalize())

What's Going On?

In [19]:
name = "ali kamran"
print(name.zfill(32))

0000000000000000000000ali kamran

In [20]:
name = "ali kamran"
print(name.rsplit())

['ali', 'kamran']

In [31]:
name = "Ali Kamran"
print(name.rstrip("ran"))

Ali Kam

In [32]:
name = "ali kamran"
print(name.replace('kamran' , 'KAMRAN96'))

ali KAMRAN96

In [34]:
artist_name = "santan dave"
print(artist_name.center(90))

                                       santan dave